@charset "UTF-8"
*{
    font-family: Arial, Helvetica, sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Lato:wght@100&display=swap');

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #520D5B;
}

main{
        background-color: white;
        border-radius: 20px;
        box-shadow:5px 5px 15px #520D5B;
        width: 600px;
        padding: 10px;
        margin: auto;
    }

#principal{
        font-family: "Carter One";
        color: white;
        text-align: left;
}

h2{
    font-family: 'Carter One';
    color: #520D5B;
}

p{
    font-family: "Lato";
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
    text-align: justify;
    text-indent: 15px;
    
}

div{
    display: inline-block;
    background-color: aliceblue;
    border: 1px solid black;
    width: 200px;
    height: 200px;
    text-align: center;
}

div:hover{
    background-color: #564758;
}

div{

}

#melhordasemana{
    text-align: center;
}